

body {
    background-image: url('images/deathstar.jpg');
}

header[role="banner"] {
    background: transparent;
}

@font-face {
    font-family: Starjout;
    src: url('fonts/Starjout.ttf');
}

@font-face {
    font-family: Starjedi;
    src: url('fonts/Starjedi.ttf');
}

@font-face {
    font-family: Starjhol;
    src: url('fonts/Starjhol.ttf');
}

h1, h2, h3 {
    font-family: Starjout;
    color: #FFD54E;
}

p {
    color: #4BD5EE;
}

#new-message {
    height: 100%;
    margin-top: 15%;
}

#new-message h3 {
    text-align: center;
    color: #4BD5EE;
}

.oj-navigationlist-app-level.oj-navigationlist-horizontal 
.oj-navigationlist-item.oj-selected 
a.oj-navigationlist-item-content>.oj-navigationlist-item-label {
    color: #FFD54E
}

.squad {
    /*border: 4px ridge #FFD54E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;*/
    background: rgba(255,255,255,0.2);
    margin: 5px;
    padding: 5px;
}

.squad ul {
    margin: 5px;
}

.squad li {
    margin-bottom: 5px;
}

.squad p, li {
    /*color: #FFD54E;*/
    color: #fff;
}

.squad li {
    list-style-type: none;
}

p.log {
    font-weight: bold;
    background: rgba(255,255,255, 0.2);
    padding: 3px;
    margin: 6px 0px;
}

.oj-navigationlist-horizontal .oj-navigationlist-item.oj-selected {
    border-color: #FFD54E;
}

.dashboard-flex-layout {
    display: flex;
    flex-direction: row;
    flex: 1;
}

@Media(min-width: 768px) {
    #logs {
        flex: 1;
    }
    
    #highscore-board, #deathstar {
        flex: 0 0 22em;
    }
    
    #highscore-board {
        order: -1;
    }
    
    #logs, #highscore-board, #deathstar {
        margin: 20px;
    }
}

#progressbar {
    width: 18em;
    background: #222;
    height: 24px;
}

.oj-progressbar-value {
    background: #FFD54E;
}

span.custom-progressbar-value {
    display: block;
    width: 18em;
    height: 100%;
    text-align: center;
    font-family: Starjout;
    color: #fff;
}

.oj-web-applayout-header>div:first-child::before {
    min-height: 0em;
}

.highscore-entry {
    background: rgba(255,255,255, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    margin: 5px 0px;
}

.highscore-entry h3 {
    font-size: 1.10em;
    padding: 0px;
}

#incoming-message {
    display: none;
}

#incoming-message h1 {
    color: #4BD5EE;
}

div.squad-columns {
    display: flex;
    overflow: hidden;
    flex-flow: wrap;
}

div.squad-columns .col {
    flex: 1;
    flex-basis: 25%;
}

.log-dmg {
    color: #e5e5e5;
}

.log-sq, .log-ms {
    color: #e5e5e5;
}

.spy {
    color: #fff;
}

.microservice {
    margin: 5px 30px;
    background: rgba(255,255,255, 0.2);
}

#spy-block {
    background: rgba(255,255,255,0.2);
    padding: 10px;
    display: flex;
    position: fixed;
    right: 15px;
    bottom: 15px;
    flex-direction: column;
}

#spy-block:hover {
    cursor: pointer;
    border: 1px solid #fff;
}

.spy-message{
    position: fixed;
}

.spy-message p {
    margin-top: 40px;
    color: #333;
}

.spy-message-nav {
    display:flex;
    justify-content: space-around;
}

.triangle-border.right {
    margin: 0px 30px 0px 0px;
    /*margin-right: 30px;*/
}
.triangle-border {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid #000;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.triangle-border.right:before {
    top: 184px;
    bottom: auto;
    left: auto;
    right: -30px;
    border-width: 15px 0 15px 30px;
    border-color: transparent #000;
}

.triangle-border:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #000 transparent;
    display: block;
    width: 0;
}

.triangle-border.right:after {
    top: 190px;
    bottom: auto;
    left: auto;
    right: -21px;
    border-width: 9px 0 9px 21px;
    border-color: transparent #fff;
}

.triangle-border:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}